/*@font-face {
  font-family: 'BauerBodoni';
  src: url('fonts/bauerbodoni/BAUERB.eot');
  src: local('☺'), url('../fonts/bauerbodoni/BAUERB.woff') format('woff'),
       url('../fonts/bauerbodoni/BAUERB.ttf') format('truetype'), 
       url('../fonts/bauerbodoni/BAUERB.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}*/
html, body{
	font-family: Cambria, Georgia, serif; /*"Open Sans";*/
	font-size: 16px;
	width:100%;
	height: 100%;
}
	
.row{max-width: 78em;}
.admin_title{
	text-shadow:2px 0 3px 2px rgba(255,244,0,1);
	-webkit-text-shadow:2px 0 3px 2px rgba(255,244,0,1);
	margin-top: 20px;
}
.text-red{color:red;}
#icon-users,#icon-profile,#icon-user-edit{background:transparent url(../images/icons32.png?ver=20100531) no-repeat -600px -5px; margin-top: 20px;}
#icon-tools,#icon-admin{background:transparent url(../images/icons32.png?ver=20100531) no-repeat -432px -5px;}
#icon-edit,#icon-post{background:transparent url(../images/icons32.png?ver=20100531) no-repeat -552px -5px;}
.icon32{float:left;height:36px;margin:14px 6px 0 0;width:36px;}
.add-new-h2{font-style:normal;margin:0 6px;position:relative;top:-3px; padding: 20px;}
.button{text-decoration:none;font-size:24px!important;line-height:1em;padding:0.4em 1em; font-size:1em;cursor:pointer;border-width:1px;border-style:solid;-moz-border-radius:3px;-khtml-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;-khtml-box-sizing:content-box;box-sizing:content-box; color: #303030;background: transparent;border:1px solid #ccc;}
a.button{line-height: 1.25em; padding-left: 1.7em; padding-right: 1.7em;}
.button.smalllogin{ padding: .3em .8em;}
.button:hover{border:1px solid #222; background: transparent; color:black;}
h2.title{font:normal normal 24px/29px Georgia,"Times New Roman","Bitstream Charter",Times,serif;margin:0;padding:14px 15px 3px 0;line-height:35px; color:#B89A4E;text-shadow:rgba(255,255,255,1) 0 1px 0; margin-left: 20px;}
p.title{font:normal normal 21px/24px Georgia,"Times New Roman","Bitstream Charter",Times,serif;margin:0;padding:14px 15px 3px 0;line-height:35px;text-shadow:rgba(255,255,255,1) 0 1px 0; margin-left: 20px;}
input[type="text"],input[type="password"],input[type="file"],input[type="button"],input[type="submit"],input[type="reset"],select{border-width:1px;border-style:solid;-moz-border-radius:4px;-khtml-border-radius:4px;-webkit-border-radius:11px;border-radius:4px;}
.buttonaction{
	border:1px solid #ccc;
	padding: 5px 12px;
	border-radius: 10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	margin-bottom: 1rem;float: right;

}
.buttonaction:hover{
	border:1px solid #e0e0e0;
	padding: 5px 12px;
	border-radius: 10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;

}

#accordian {
	margin:0;
	margin-top:50px;
	background: #000;
	width: 100%;
	color: #967C41;
	/*Some cool shadow and glow effect*/
	/*box-shadow: 
		0 5px 15px 1px rgba(0, 0, 0, 0.6), 
		0 0 200px 1px rgba(255, 255, 255, 0.5);*/
}
/*heading styles*/
#accordian h3 {
	font-size: 14px;
	line-height: 3rem;
	padding: 0 10px;
	cursor: pointer;
	/*fallback for browsers not supporting gradients*/
	background: #003040; 
	color:#967C41;
	background: linear-gradient(#222222, #111111);
}
/*heading hover effect*/
#accordian h3:hover {
	/*text-shadow: 0 0 1px rgba(255, 180, 0, 0.9);*/
}
/*iconfont styles*/
#accordian h3 span {
	font-size: 16px;
	margin-right: 10px;
}
/*list items*/
#accordian li {
	list-style-type: none;
}
/*links*/
#accordian ul ul li a {
	color: #fc0;
	text-decoration: none;
	font-size: 13px;
	line-height: 27px;
	display: block;
	padding: 0 15px;
	/*transition for smooth hover animation*/
	transition: all 0.15s;
}
/*hover effect on links*/
#accordian ul ul li a:hover {
	background: #555;
	border-left: 5px solid #333;
}
/*Lets hide the non active LIs by default*/
#accordian ul ul {
	display: none;
}
#accordian li.active ul {
	display: block;
}

.addnew-form input[type="text"], .addnew-form .select2-container .select2-choice, .addnew-form .select2-container-multi .select2-choices {
  border: 1px solid #999;
  background-color: #ededed;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFEDEDED', endColorstr='#FFFFFFFF');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ededed), color-stop(53%, #f6f6f6), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(top, #ededed 0%, #f6f6f6 53%, #ffffff 100%);
  background-image: -moz-linear-gradient(top, #ededed 0%, #f6f6f6 53%, #ffffff 100%);
  background-image: -o-linear-gradient(top, #ededed 0%, #f6f6f6 53%, #ffffff 100%);
  background-image: linear-gradient(top, #ededed 0%, #f6f6f6 53%, #ffffff 100%);
  line-height: 1rem;
  width: 100%;
  height: 40px !important;
  padding-left: 10px;
  font-size: 1.2rem;
  padding-top: 10px;
  padding-bottom: 5px;
  color: #666;
  overflow: auto;
}

 .select2-choice, .addnew-form .select2-container-multi .select2-choices  {
	padding-top: 1px;
  	overflow: auto;;

}
.select2-container-multi .{min-height: 150px;}
.large-2 label{font-weight: bold;}

ul.pagination li{height:2.3em;color:#fff;font-size:0.875em;margin-left:0.3125em;border-radius: 5px; -moz-border-radius:5px; -webkit-border-radius:5px; background: #002A3A;padding: 5px;padding-bottom: 5px;}
ul.pagination li a{display:block;padding:2px;color:#FF8B00;}
ul.pagination li:hover a,ul.pagination li a:focus{background:transparent;}
ul.pagination li.unavailable a{cursor:default;color:#999}
ul.pagination li.unavailable:hover a,ul.pagination li.unavailable a:focus{background:transparent; color:red;}
ul.pagination li.current a{background:#2ba6cb;color:blue;font-weight:bold;cursor:default}
ul.pagination li.current a:hover,ul.pagination li.current a:focus{background:#2ba6cb}

textarea{min-height: 100px; }
/*.moviedetail{min-height: 150px;box-shadow: 0 0 2px 2px rgba(0,0,0,.1); max-height: 160px; overflow: hidden;}*/
#container{ width:100%; margin:0px auto; padding:0px 0;box-shadow: 0 0 2px 2px rgba(0,0,0,.1); }
#scrollbox{ width:100%; height:150px;  overflow:auto; overflow-x:hidden; border:1px solid #f2f2f2; }
#scrollbox .content{padding: 4px 12px;}
#container > p{ background:#eee; color:#666; font-family:Arial, sans-serif; font-size:0.75em; padding:5px; margin:0; text-align:right;}


#footer{clear:both;position:relative;width:100%;}
#footer{margin-top:-46px;border:2px;border-style:solid;}
#footer,#footer a{font-size:12px;font-family:Georgia,"Times New Roman","Bitstream Charter",Times,serif;font-style:italic;}#footer p{margin:0;padding:15px;line-height:15px;}#footer a{text-decoration:none;}
#footer a:hover{text-decoration:underline;}
#footer{color:#B8A055;
	background:-moz-linear-gradient(bottom,#000000,#222222);
	background:-webkit-gradient(linear,left bottom,left top,from(#222222),to(#000000));}
.content{min-height: 200px;height: 100%;width: 100%;}

/*for add new occupation */
 #fs {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	
	box-sizing: border-box;
	width: 50%;
	margin: 50% 30%;
	
	/*stacking divs above each other*/
	position: absolute;
	display: none;
}
#fs span{
	position: absolute;
	right: 0;
	top:0;
	color: white;
	border-radius: 20px;
	-moz-border-radius:20px;
	font-size: 14px;
	padding: 8px 12px;
	background: red;
	cursor: pointer;
}
#message{
	border-radius: 3px;
	background: #EBF8A4;
	box-shadow: 0 0 15px 1px rgba(224, 114, 30, 0.9);
	padding: 20px 30px;
	margin: 50% 30%;
	width: 30%;
	border: 1px;
	position: absolute;
	display: none;
}
/*end for add new occupation */

.user-setting{position: absolute;z-index:9999; margin-top: 1rem; background: #B8A05A; border:2px solid #888; color:white; list-style: none;}
.user-setting li a{list-style: none;}
.user-setting li a{color:white;}
#accordian .user-setting a{color:#00f;}
#accordian ul{margin-left: 0;}
table thead, table tfoot {
    background: -webkit-gradient(linear, left top, left bottom, from(#DCEAF9), to(#C7D0D9));
	background: -moz-linear-gradient(top, #DCEAF9);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DCEAF9', endColorstr='#C7D0D9');
}
table tr.even, table tr.alt, table tr:nth-of-type(even) {
    background: -webkit-gradient(linear, left top, left bottom, from(#DCEAF9), to(#C7D0D9));
	background: -moz-linear-gradient(top, #DCEAF9, #C7D0D9);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DCEAF9', endColorstr='#C7D0D9');
	background: none;
}

/*swit radit style*/
div.switch input:last-of-type:checked + label, div.switch input:last-of-type:checked + span + label {
    right: -33%;
    left: auto;
    margin-top: -34px;
}

.sub_header, table tr:nth-of-type(even).sub_header{
    line-height: 1.4;
    color: #6F6F6F;
    font-weight: normal;
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
     background: -webkit-gradient(linear, left top, left bottom, from(#DCEAF9), to(#C7D0D9));
	background: -moz-linear-gradient(top, #DCEAF9, #C7D0D9);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DCEAF9', endColorstr='#C7D0D9');
}
.clear{clear:both; height: 2rem;}
.button.round{padding:5px 1rem; font-size: .3rem;}
#loading #loader, .loading{
      width:32px;
      height:32px;
      background: url('../../img/loader.gif') no-repeat;
  }