.nopadding{padding: 0;}
.helvetica_neue{font-family: "Glober SemiBold Free";color: #000;}
.hdtitle,.logotitle, .title, .top-bar .name, .top-bar .top-bar-section ul li a, .top-bar .top-bar-section ul li ul li a{
      font-family:  'Glober SemiBold Free',"Times New Roman",Times,serif;
      font-weight: 400;
      font-size: .9137rem;
      text-transform: uppercase;
    }
/*.zawgyi-one, .zg{font-family: "Zawgyi-One " !important;}*/

/*Top Bar Style*/
  .top-bar {
    background: transparent;
      overflow: visible;
      font-family:  "Glober SemiBold Free",Georgia,"Times New Roman",Times,serif;
      border-radius: 6px;
  }
    .top-bar .name {
        height: 25px;
        margin-right: 15px;
        font-size: 12px;
        text-transform: uppercase;
        z-index: 999;
    }
    .top-bar .name a{
        width: auto;
        margin-top: 0px;
        font-family: "Perpetua";
        font-weight: normal;
        color: white;
    }
    .top-bar .name img{margin-top: 1.5rem; border-right: 1px solid #666;    padding-right: 12px;}
    .top-bar-section{margin-top: 1.1%; width: 100%;}
    
    .top-bar-section ul{background: #971A0F; width: 100%;}
    .top-bar-section ul li{/*min-width: 5.5%;*/ width: 12.5%;}
    .top-bar-section ul li a{text-align: center;}
    .top-bar .top-bar-section ul li a{font-size: .71rem;}
    .top-bar-section ul li ul{width: auto;}
    .top-bar-section ul li ul li a{text-align: left;}
    .slidetitle{color:#ff8004; font-size: 16px;}
    .top-bar-section li a:not(.button) {
      padding: 4px 0px 0;
      line-height: 53px;
      background:#9B2318;
      color:#fff;
      border-right: 2px solid rgba(161, 55, 30, 1);
      text-transform: uppercase;
      text-shadow: 1px 1px 0px rgba(178, 16, 16, 0.66);
     }
     .top-bar-section li:last-child a:not(.button){
      border-right:0;
     }
    .top-bar-section .has-dropdown > a:after {
      margin-right: 8px;
      border-color: rgba(255, 255, 255, .8) transparent transparent;
    }
    .top-bar-section li a:hover:not(.button) {
        background:#999286;
        z-index: 9999;
    }
    
    .top-bar-section ul li:hover > a{
        background: none repeat scroll 0% 0% #999286; //for parent bgcolor
    }

    .top-bar-section ul li.active > a:hover {
        background: none repeat scroll 0% 0% #999286;
    }
    .top-bar-section ul li.active > a {
        background: none repeat scroll 0% 0% #999286;
    }

    nav.tab-bar{
      font-family: "Glober SemiBold Free", Georgia,"Times New Roman",Times,serif;
      font-weight: 600;
      font-size: 1.3rem;
      z-index: 99999999;
      color: #F8941C;
      position: fixed;
      width: 100%;
    }
    a.menu-icon{color:#F8941C;}
    .menubar-icon{width:120px; height:39px; margin-left:35px;}
    .top-bar-section .has-dropdown .dropdown li.has-dropdown > a:after {
      border: medium none;
      content: "»";
      top: 1rem;
      margin-top: -15px;
      right: 5px;
    }
/*for sub menu style*/
  .top-bar-section li ul{background: #fff; border:1px solid #888;}
  .top-bar-section li ul li a:not(.button) {
      padding: 0px 8px;background: rgba(40,5,0,.8); color:#fff; line-height: 35px; font-size: .9em;}
  .top-bar-section li ul li a:hover:not(.button) {
          background:rgba(0,0,0,.8);
          color:#999286;
  }
  .top-bar-section li > .dropdown:after {
      position: absolute;
      top: -6px;
      left: 10px;
      display: inline-block;
      border-right: 6px solid transparent;
      border-bottom: 6px solid #FFF;
      border-left: 6px solid transparent;
      content: "";
  }
  .top-bar-section li > .dropdown:before {
      position: absolute;
      top: -7px;
      left: 9px;
      display: inline-block;
      border-right: 7px solid transparent;
      border-left: 7px solid transparent;
      content: "";
  }
  .dropdown {
      position: absolute;
      top: 100%;
      left: 0px;
      z-index: 1000;
      display: none;
      float: left;
      min-width: 160px;
      margin: 2px 0px 0px;
      list-style: none outside none;
      background-color: #000;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-top-right-radius: 3px;
      border-top-left-radius: 3px;
      background-clip: padding-box;
      background: #000;
  }

  [class^="icon-"], [class*=" icon-"] {
      display: inline-block;
      width: 14px;
      height: 14px;
      margin-top: 7px;
      line-height: 14px;
      vertical-align: text-top;
      background-image: url('../img/glyphicons-halflings.png');
      background-position: 14px 14px;
      background-repeat: no-repeat;
  }
  .icon-arrow-right {
      background-position: -456px -72px;
  }
  .dropdown > li > a:hover > [class^="icon-"],
  .dropdown > li > a:focus > [class^="icon-"],
  .dropdown > li > a:hover > [class*=" icon-"],
  .dropdown > li > a:focus > [class*=" icon-"],
  .dropdown > .active > a > [class^="icon-"],
  .dropdown > .active > a > [class*=" icon-"]{
      background-image: url('../img/glyphicons-halflings-white.png');
  }
/*end for submenu style*/
/*CONTENT FRAME*/
    .content-frame{background: #fff; padding-top:1rem;}
    .contentframe, .row{ max-width: 64.6rem;margin: 0 auto;background: #fff;}
      .contentframe-left-off-canvas-menu .site-links ul.pillars li a {
        padding: 0 !important; }
        .contentframe.off-canvas-wrap .contentframe-left-off-canvas-menu {
        -webkit-backface-visibility: hidden;
        width: 250px;
        top: 0;
        bottom: 0;
        height: 100%;
        position: absolute;
        overflow-y: auto;
        background: #000;
        z-index: 1001;
        box-sizing: content-box;
        -webkit-transform: translate3d(-100%, 0, 0);
        -moz-transform: translate3d(-100%, 0, 0);
        -ms-transform: translate3d(-100%, 0, 0);
        -o-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        width: 84%; 
      }
      .contentframe.off-canvas-wrap .contentframe-left-off-canvas-menu * {
        -webkit-backface-visibility: hidden; }
      .contentframe.off-canvas-wrap .contentframe-left-off-canvas-menu hr {
        border-color: #444444;
        margin: 5px 0 10px 0 !important; }
      .contentframe.off-canvas-wrap .contentframe-left-off-canvas-menu ul.off-canvas-list li.gs {
        padding: 0 1.08rem;
        margin-top: 8px; }
      .contentframe.off-canvas-wrap .contentframe-left-off-canvas-menu ul.off-canvas-list li a {
        font-family:  Georgia,"Times New Roman",Times,serif;
        border-bottom: none !important;
        font-size: 1.1rem;
        padding: 0.2rem 0.95rem;
        color: #bbf;
        font-weight: 500; }
      .contentframe.off-canvas-wrap .contentframe-left-off-canvas-menu ul.off-canvas-list li a:hover{
        color:#ff8004;
      }
      .contentframe.off-canvas-wrap .contentframe-left-off-canvas-menu ul.off-canvas-list li label {
        font-family:  Georgia,"Times New Roman",Times,serif;
        background: none !important;
        border-top: none !important;
        padding: 0.4rem 0.95rem 0.4rem 0.95rem !important;
        font-size: 1.095rem !important; }
      .contentframe.off-canvas-wrap .contentframe-left-off-canvas-menu ul.off-canvas-list li label.first {
        padding-top: 0.75rem !important; }
      .contentframe.off-canvas-wrap.move-right > .inner-wrap {
        -webkit-transform: translate3d(83.5%, 0, 0);
        -moz-transform: translate3d(83.5%, 0, 0);
        -ms-transform: translate3d(83.5%, 0, 0);
        -o-transform: translate3d(83.5%, 0, 0);
        transform: translate3d(83.5%, 0, 0); }
      .contentframe.off-canvas-wrap.move-right a.exit-off-canvas {
        -webkit-backface-visibility: hidden;
        transition: background 300ms ease;
        cursor: pointer;
        box-shadow: -4px 0 4px rgba(0, 0, 0, 0.5), 4px 0 4px rgba(0, 0, 0, 0.5);
        display: block;
        position: absolute;
        background: rgba(255, 255, 255, 0.2);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1002; }
      .contentframe.off-canvas-wrap.move-right a.exit-off-canvas:hover {
          background: rgba(255, 255, 255, 0.05); } }
      .contentframe.off-canvas-wrap.move-left > .inner-wrap {
        -webkit-transform: translate3d(-83.5%, 0, 0);
        -moz-transform: translate3d(-83.5%, 0, 0);
        -ms-transform: translate3d(-83.5%, 0, 0);
        -o-transform: translate3d(-83.5%, 0, 0);
        transform: translate3d(-83.5%, 0, 0); }
      .contentframe.off-canvas-wrap.move-left a.exit-off-canvas {
        -webkit-backface-visibility: hidden;
        transition: background 300ms ease;
        cursor: pointer;
        box-shadow: -4px 0 4px rgba(0, 0, 0, 0.5), 4px 0 4px rgba(0, 0, 0, 0.5);
        display: block;
        position: absolute;
        background: rgba(255, 255, 255, 0.2);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1002; }
      .lt-ie10 .contentframe.off-canvas-wrap .contentframe-left-off-canvas-menu {
          left: -84%; }
      .lt-ie10 .contentframe.off-canvas-wrap .contentframe-right-off-canvas-menu {
          right: -84%; }
      .lt-ie10 .contentframe.off-canvas-wrap .move-left > .inner-wrap {
          right: 84%; }
      .lt-ie10 .contentframe.off-canvas-wrap .move-right > .inner-wrap {
          left: 84%; }

      .contentframe-left-off-canvas-menu .site-links {
          padding-bottom: 25px;
          margin-top: -5px; }
      .contentframe-left-off-canvas-menu .site-links ul.top {
          margin-top: 15px; }

      .contentframe-left-off-canvas-menu .site-links ul.top li {
          display: inline-block;
          margin-left: 0px;
          line-height: 1;
          font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; }

      .contentframe-left-off-canvas-menu .site-links ul.top li.logo {
          margin-left: 0px;
          width: 60px;
          height: 10px; }

      .contentframe-left-off-canvas-menu .site-links ul.top li.logo a {
          margin-top: 1px;
          padding: 3px 8px 3px 0px !important;
          display: block;
          font-size: 0.9rem !important;
          height: 12px;
          width: 60px;
          background-size: 100%; }

      .contentframe-left-off-canvas-menu .site-links ul.top li.logo img {
          width: 60px;
          margin-top: -4px; }

      .contentframe-left-off-canvas-menu .site-links ul.top li a {
          text-transform: uppercase;
          font-size: 11px !important;
          color: #aaf;
          padding: 5px !important;
          font-weight: 600 !important; }

      .contentframe-left-off-canvas-menu .site-links ul.pillars {
          list-style: none; }
      .content-title{
          font-family: 'Glober SemiBold Free';
          font-size: 1.2rem;
          color:#999286;
          margin-bottom: 29px;
        }
