@font-face {
    font-family: "Ayar Wagaung";
    src: url('../fonts/346801758-ayar_wagaung.eot');
    src: url('../fonts/346801758-ayar_wagaung.eot?#iefix') format('embedded-opentype'),
    url('../fonts/346801758-ayar_wagaung.svg#Ayar Wagaung') format('svg'),
    url('../fonts/346801758-ayar_wagaung.woff') format('woff'),
    url('../fonts/346801758-ayar_wagaung.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/*Top Bar Style*/
  .top-bar {
    background: transparent;
      overflow: visible;
      font-family:  Georgia,"Times New Roman",Times,serif;
      border-radius: 6px;
  }
    .top-bar .name {
        height: 25px;
        /*margin-left: 30px;*/
        margin-right: 15px;
        font-size: 12px;
        text-transform: uppercase;
        z-index: 999;
    }
    .top-bar .name a{
        width: auto;
        margin-top: 0px;
        font-family: "Perpetua";
        font-weight: normal;
        color: white;
    }
    .top-bar .name img{margin-top: 1.5rem;}
    .top-bar-section{margin-top: 1.1%; width: 100%;}
    
    .top-bar-section ul{background: rgba(0,0,0,.2);
/*width: 97.8%;*/
width: 100%;
/*margin: 0 1%;*/}
    .top-bar-section ul li{
    min-width: 13.46%;}
    .hdtitle,.logotitle, .title, .top-bar .name, .top-bar .top-bar-section ul li a, .top-bar .top-bar-section ul li ul li a{
      font-family:  'Ayar Wagaung',"Times New Roman",Times,serif;
        font-weight: 400;
        font-size: 1.1rem;
        text-transform: capitalize;
    }
    .title{font-size: 1.3rem; font-weight: 600;} 

    .hdtitle{margin-bottom: 14px; font-size: 1.2rem}
    .top-bar-section ul li a{text-align: center;}
    .top-bar-section ul li ul{width: auto;}
    .top-bar-section ul li ul li a{text-align: left;}
    .slidetitle{color:#ff8004; font-size: 16px;}
    h3{margin:0;}
    h3.title{font-size:24px; width: 100%;padding: 0;}
    h3.logotitle{font-size:48px;}
    h4.title{font-size: 11px;}

  .top-bar-section li a:not(.button) {
    padding: 0px 8px;
    line-height: 45px;
    background:rgba(0,0,0,.1);
    color:#fff;
   }
   .top-bar-section .has-dropdown > a:after {
      margin-right: 8px;
      border-color: rgba(255, 255, 255, .8) transparent transparent;
    }
    .top-bar-section li a:hover:not(.button) {
        background:#F9941D;
        z-index: 9999;
    }
    
    .top-bar-section ul li:hover > a{
        background: none repeat scroll 0% 0% #F9941D; //for parent bgcolor
    }

    .top-bar-section ul li.active > a:hover {
        background: none repeat scroll 0% 0% #F9941D;
    }
    .top-bar-section ul li.active > a {
        background: none repeat scroll 0% 0% #F9941D;
    }

  nav.tab-bar{
    background:url('../../images/office.png');
      font-family: "BauerBodoni", Georgia,"Times New Roman",Times,serif;
      font-weight: 600;
      font-size: 1.3rem;
      z-index: 99999999;
      color: #F8941C;
      position: fixed;
      width: 100%;
    }
    a.menu-icon{color:#F8941C;}
  .top-bar-section .has-dropdown .dropdown li.has-dropdown > a:after {
    border: medium none;
    content: "»";
    top: 1rem;
    margin-top: -15px;
    right: 5px;
  }


/*for sub menu style*/
  .top-bar-section li ul{background: #fff; border:1px solid #888;}
  .top-bar-section li ul li a:not(.button) {
      padding: 0px 8px;background: rgba(56,60,69,.8); color:#fff; line-height: 35px; font-size: .9em;}
  .top-bar-section li ul li a:hover:not(.button) {
          background:rgba(0,0,0,.8);
          color:#F9941D;
  }
  .top-bar-section li > .dropdown:after {
      position: absolute;
      top: -6px;
      left: 10px;
      display: inline-block;
      border-right: 6px solid transparent;
      border-bottom: 6px solid #FFF;
      border-left: 6px solid transparent;
      content: "";
  }
  .top-bar-section li > .dropdown:before {
      position: absolute;
      top: -7px;
      left: 9px;
      display: inline-block;
      border-right: 7px solid transparent;
      /*border-bottom: 7px solid rgba(0, 0, 0, 0.2);*/
      border-left: 7px solid transparent;
      content: "";
  }
  .dropdown {
      position: absolute;
      top: 100%;
      left: 0px;
      z-index: 1000;
      display: none;
      float: left;
      min-width: 160px;
      /*padding: 5px 0px;*/
      margin: 2px 0px 0px;
      list-style: none outside none;
      background-color: #000;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-top-right-radius: 3px;
      border-top-left-radius: 3px;
      /*box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);*/
      background-clip: padding-box;
      background: #000;
  }

  [class^="icon-"], [class*=" icon-"] {
      display: inline-block;
      width: 14px;
      height: 14px;
      margin-top: 7px;
      line-height: 14px;
      vertical-align: text-top;
      background-image: url('../img/glyphicons-halflings.png');
      background-position: 14px 14px;
      background-repeat: no-repeat;
  }
  .icon-arrow-right {
      background-position: -456px -72px;
  }
  .dropdown > li > a:hover > [class^="icon-"],
  .dropdown > li > a:focus > [class^="icon-"],
  .dropdown > li > a:hover > [class*=" icon-"],
  .dropdown > li > a:focus > [class*=" icon-"],
  .dropdown > .active > a > [class^="icon-"],
  .dropdown > .active > a > [class*=" icon-"]{
      background-image: url('../img/glyphicons-halflings-white.png');
  }
/*end for submenu style*/

.select2-container .select2-choice, .select2-container .select2-choice div{
  background:transparent;
  color:#eee;
  }