@media only screen and (min-width: 64.063em) and (max-width: 120em) { 
	body{
        background: #792B05 url(../img/background.jpg) no-repeat;
        background-repeat:no-repeat;
        background-position:center center;
        background-attachment:fixed;
        -o-background-size: 100% 100%, auto;
        -moz-background-size: 100% 100%, auto;
        -webkit-background-size: 100% 100%, auto;
        background-size: 100% 100%, auto;
        color: #fff;
    }
    .nopadding{padding-left: 0;}
	.nopadding-for-large{padding:0;}
	.advertisement{margin-top: 0px;}
	.large-3 label:after{content: '';}
	.title_frame, #title_frame{padding-bottom:18px;z-index:11; width:100%;min-height: 11.8rem;}
	.clearfix{clear: both; height: 11px;}
	.clear{clear: both; height: 5px;}
  	.clear-cont{clear: both; height: .4rem;}
  	
  	.loading{
      width:32px;
      height:32px;
      background: url('../../img/loader.gif') no-repeat;
  	}
  	
  	.icons-user {
          background-position: -168px 0px;
	}
	.icons-lock {
	      background-position: -287px -24px;
	}
	.icons-plus-sign {
	      background-position: 0px -96px;
	}
	/*TITLES*/
		.title{font-size: 1.3rem; font-weight: 600;} 

	    .hdtitle{margin-bottom: 14px; font-size: 1.2rem}
		
	    h3.title{font-size:24px; width: 100%;padding: 0;}
	    h3.logotitle{font-size:48px;}
	    h4.title{font-size: 11px;}
	    .header-title{background: #1F1F1F; padding:2px 7px;}
	  	.header-title h5{font-family: "Ayar Wagaung";}
		.title a{color:white;}
		.detail{padding-left:6px;padding-top:5px;}
		.dt_title{
		    position: relative;
		    background: transparent;
		    width: auto;
		    border-top: 38px solid #ca6306;
		    border-top-co: #f47f11; /* Old browsers */
		    border-top-co: -moz-linear-gradient(top,  #f47f11 1%, #c15b01 100%); /* FF3.6+ */
		    border-top-co: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#f47f11), color-stop(100%,#c15b01)); /* Chrome,Safari4+ */
		    border-top-co: -webkit-linear-gradient(top,  #f47f11 1%,#c15b01 100%); /* Chrome10+,Safari5.1+ */
		    border-top-co: -o-linear-gradient(top,  #f47f11 1%,#c15b01 100%); /* Opera 11.10+ */
		    border-top-co: -ms-linear-gradient(top,  #f47f11 1%,#c15b01 100%); /* IE10+ */
		    border-top-co: linear-gradient(to bottom,  #f47f11 1%,#c15b01 100%); /* W3C */
		    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f47f11', endColorstr='#c15b01',GradientType=0 ); /* IE6-9 */
		    border-right: 14px solid transparent;
		}
		.dt_title span{
		    position: absolute;
		    padding: 4px 13px;
		    background: transparent;
		    width: auto;
		    color: #fff;position: absolute;
		    margin-top: -31px;
		    font-size: 19px;
		}
		.car_spec{padding-top: 16px; font-family: "Ayar Wagaung";}
		.car_spec p{color: #333; line-height: 1.3em;}
		.car_spec table tr:nth-of-type(2n) {
		      background: none repeat scroll 0% 0% rgba(0,0,0,.2);
		}
	/*CARLIST*/
		.carinfo-for-small{padding: 11px 0;}
		.carimg img{max-width: 100%; max-height: 400px; width: auto; height: auto;}
	    .carimg img{padding: 0;width: 100%; float: left;}
		.car-list .panel{padding:3px 5px 12px; width: 32%; margin: .65%; min-height: 110px;max-height: 110px; overflow: hidden;}
		.car-by-make .large-2{width:15.5%; margin:.56%;}
		.car-list-frame div.top span {
		  width: 62px;
		  height: 62px;
		  display: block;
		  position: absolute;
		  top: -5px;
		  left: -5px;
		  background: url(../img/top_s.png) no-repeat;
		}
		.car-list-frame div.sold span, div.sold span{
	        width: 62px;
	        height: 62px;
	        display: block;
	        position: absolute;
	        top: -5px;
	        left: -5px;
	        background: url(../images/sold_s.png) no-repeat;
	    }
	    div.sold span{
	    	z-index: 99;
	    	top:-9px;
	    }
	    .car-list-frame .carimg {
	      position: relative;
	      height: 75px;
	      overflow: hidden;
	      /*padding:5px 0;*/
	    }
	    .car_listimg{
		    padding:5px 5px;
		    border:1px solid #e2e2e2;
		    border-radius:5px;
		    -moz-border-radius:5px;
		    -webkit-border-radius:5px;
		    max-width: 130px;
		  }
		  .car_listimg:hover{
		    padding:5px 5px;
		    border:1px solid rgba(210,210,210,.5);
		    border-radius:5px;
		    -moz-border-radius:5px;
		    -webkit-border-radius:5px;
		  }
	    .list-frame{background: rgba(100,100,100,0);padding: 0;}
		.car-list-frame {max-height: 145px; overflow: hidden;}
		.expsumo_left img{min-height: 145px;}
		.car-list{padding: 0;width: 32%;margin: 0.65%;max-height: 205px;
			overflow: hidden;}
		.car-by-make{padding:3px 5px 12px; width: 15%; margin: .65%;text-align: center;min-height: 158px;background: rgba(90,90,90,.1);}
		.car-by-make .text-center{bottom:10px;position:absolute; text-align:center; left:0; right:0; }
		.car-by-make img{max-height:120px;}
	    #carlist1{
		    font-size: 12px;
		    line-height: 20px;
		}
		#carlist_title{
		    font-family: "Ayar Wagaung";
		    font-size: 15px;
		    line-height: 20px;
		    color: #F9941D;
		}
		#carlist_date{
		    font-size: 10px;
		    line-height: 20px;
		}
	/*LATEST NEWS*/
	    .latestnews{padding: .3rem .6rem; border-bottom: 1px dashed rgba(222,222,222,0.3); margin-top: 0px; overflow: hidden; background: rgba(100,100,100,.1);}
		.latestnews a{word-spacing: 3px;  line-height: 1.5rem;word-wrap: break-word; color: white; font-family: "Zawgyi-One";}
		.latestnews:hover{ 
		    background-color: #02405D;
		    cursor: pointer;
		    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset;
		    background-color: rgba(0, 0, 0, 0.3);}
		.latestnews a:hover{color:white;}
	/*LISTHEADER*/
		.listheader{border-right: 1px solid #ccc;border-bottom: 1px solid #aaa; border-top: 1px solid #ccc;}
		.listheader .columns{text-align: center;border-left: 1px solid #ddd; padding: 5px 2px; min-height: 1.9rem;  margin-bottom: 0;}
		.list-frame1{border:1px solid #ccc; border-top:0; background: rgba(100,100,100,.1); font-family: "Ayar Wagaung";}
	/*ALERTS*/
		.alert {
		    padding: 4px 35px 4px 14px;
		    margin-bottom: 20px;
		    background-color: #FCF8E3;
		    border: 1px solid #FBEED5;
		    border-radius: 4px;
		    color: #C09853;
		  }
		  .alert, .alert h4 {
		      color: #C09853;font-size: 17px;
		  }
		  .alert .close {
		      position: absolute;
		      top: 30%;
		      right: 14px;
		      font-weight: bold;
		      font-size: 24px;
		      color:#ccc;
		      line-height: 20px;
		  }
		  .alert .close:hover{color:#666; text-decoration: none;}
	/*PAGINATION */
		ul.pagination li{height:2.3em;color:#fff;font-size:0.875em;margin-left:0.3125em;border-radius: 5px; -moz-border-radius:5px; -webkit-border-radius:5px; background: #F9941D;padding: 5px 10px;}
		ul.pagination li:hover{background: #FF951D; color:white;}
		ul.pagination li a{display:block;padding:2px;color:#fff;}
		ul.pagination li:hover a,ul.pagination li a:focus{background:transparent;}
		ul.pagination li.unavailable a{cursor:default;color:#999}
		ul.pagination li.unavailable:hover a,ul.pagination li.unavailable a:focus{background:transparent; color:red;}
		ul.pagination li.current a{background:#000;color:blue;font-weight:bold;cursor:default}
		ul.pagination li.current a:hover,ul.pagination li.current a:focus{background:#2ba6cb}
		.pagination .active, .pagination .disabled{background: rgba(56,60,69,.8);}
		.pgwSlider {position: relative;}
		.pgwSlider i {
		    width: 104px;
		    height: 104px;
		    display: block;
		    position: absolute;
		    top: 0px;
		    left: 0px;
		    z-index: 98;
		    background: url('../img/premium.png') no-repeat scroll 0% 0% transparent;
		}
	/*BUTTONS*/
		.btn-danger, .btn-primary{color:#fff;}
		.btn-danger{background: #BD362F;background-image: linear-gradient(to bottom, #EE5F5B, #BD362F);color: white;}
		.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
		    color: #FFF;
		    background-color: #BD362F;
		}
	  	.sentbtn{font-size: 15px;}
	    .btn {
	      font-size: 14px;
	      vertical-align: middle;
	      line-height: 20px;
	      color: #333;
	      text-align: center;
	      cursor: pointer;
	      border-radius: 4px;
	  	}
	    #remove-save-vehicle{padding: 4px 16px;margin-right: 8px;}
	    .btn-primary{
	      color:#fff;
	    }
		.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {color: white;}
	    .button.tiny.disable{
		    background: #8EC38E;
		    color: #fff;
		    line-height: 10px;
		    font-size: 12px;
	  	}
		
		.button {
		    background-color: #F5F5F5;
		    color: #000;
		    transition: background-color 300ms ease-out 0s;
		    line-height: 10px;
		}
		.button:hover{
		    text-decoration: none;
		}
		.price{
		    padding: 7px 12px;
		    white-space: nowrap;
		    font-size: 1.2rem;
		    border:1px solid #F8941D; border-bottom:0;
		}
		.button.save{
		    background: #0079A1;
		    color: #fff;
		    line-height: 1px;
		}
		.button_list {
		    font-family: "Ayar Wagaung";
		    margin-top: 9px;
		    color: #FFF;
		    font-size: 14px;
		    height: 18px;
		    line-height: 10px;
		    padding: 3px 10px;
		}

		.search-label, .latest-label, .btn, .search, .view{font-family: "Ayar Wagaung"; 
	      padding:9.9px 24px;font-size:.9rem;
	      background: #f47f11; /* Old browsers */
	      background: -moz-linear-gradient(top,  #f47f11 1%, #c15b01 100%); /* FF3.6+ */
	      background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#f47f11), color-stop(100%,#c15b01)); /* Chrome,Safari4+ */
	      background: -webkit-linear-gradient(top,  #f47f11 1%,#c15b01 100%); /* Chrome10+,Safari5.1+ */
	      background: -o-linear-gradient(top,  #f47f11 1%,#c15b01 100%); /* Opera 11.10+ */
	      background: -ms-linear-gradient(top,  #f47f11 1%,#c15b01 100%); /* IE10+ */
	      background: linear-gradient(to bottom,  #f47f11 1%,#c15b01 100%); /* W3C */
	      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f47f11', endColorstr='#c15b01',GradientType=0 ); /* IE6-9 */
	      border-top-left-radius:3px;
	      border-bottom-left-radius:3px;
	  	}
	  	.latest-label{border-radius: 3px;}
	  	.search,.view{padding:.22em 1em;  margin-bottom: 0; color:white; float: right;}
	  	.search,.view,.sm_btn,.title{border-radius: 4px;}
	  	.sold_btn{
		    position: absolute;
		    padding: 0.2em 1em;
		    bottom: 0px;
		    color: #FFF;
		    right: 35%;
		}
	  	.vcount{position:absolute;bottom:0px; background:rgba(0,0,0,.4); border-radius:none; border:1px solid #fff; padding-top: 5px;}
	  	.savevehicle{position: absolute;bottom: 0; right:2rem; color: #fff;}
	  	.search:hover{background: #F9941D;}
	  	.sm_btn{padding:3px;font-size:18px;}
	  	.hitcount{
		  position:absolute;min-width:94px; bottom:0px;right:0px;color:#fff; padding:.5rem 1rem;background: rgba(0,0,0,.7);text-align:center;padding-bottom: 2px;
		}
		.cont_btn{background: #0051CC; height: 35px; padding:5px 12px; color:white;}
		.btn-secondary{background: #F8941C;color:white;}
		.info span{color:white;font-size: 16px;}
	    .info .view{text-align: center;float: right;color:#111; padding: 5px 13px 4px 13px; margin-top: -3px;font-size: 13px;font-weight: 500; position: absolute;right: 0;}
	/*TABS*/
		.tabs dd.active a, .tabs dd > a:hover  {
		      background: #f47f11; /* Old browsers */
		      background: -moz-linear-gradient(top,  #f47f11 1%, #c15b01 100%); /* FF3.6+ */
		      background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#f47f11), color-stop(100%,#c15b01)); /* Chrome,Safari4+ */
		      background: -webkit-linear-gradient(top,  #f47f11 1%,#c15b01 100%); /* Chrome10+,Safari5.1+ */
		      background: -o-linear-gradient(top,  #f47f11 1%,#c15b01 100%); /* Opera 11.10+ */
		      background: -ms-linear-gradient(top,  #f47f11 1%,#c15b01 100%); /* IE10+ */
		      background: linear-gradient(to bottom,  #f47f11 1%,#c15b01 100%); /* W3C */
		      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f47f11', endColorstr='#c15b01',GradientType=0 ); /* IE6-9 */
		      color: white;
		}
		.tabs dd > a {
			font-family: "Ayar Wagaung";
		    text-decoration: none;
		    height: 40px;
		    line-height: 30px;
		    padding: 5px 8px;
		    text-align: center;
		    background: rgba(0,0,0,.3);
		    font-size: 18px;
		    color: white;
		}
		.tabs{
		    border-bottom: 1px solid #DDD;
		}
		.tabs-content{
		    margin-bottom: 0px;
		    min-height: 300px;
		}
	/*REVAL*/
		.reveal-modal .close-reveal-modal {
	        border:1px dashed;
	        padding: 3px 6px;
	    }
	    .reveal-modal .close-reveal-modal:hover{
	    	color:#333;
	    }
	/*GROUP*/
		.group{
		    padding-left:20px;
		    padding-right:20px;
		  }
		.group .links a {
		      padding: 1px 10px 1px 20px;
		      font-size: 15px;
		      color: white;
		      line-height: 20px;
		      background: url('../../img/icons_stripe.png') no-repeat scroll 0px 0px transparent;
		}
	  	.group a.website {
		    background-position : 0 -240px;
		    line-height: 20px;
		}	
		.group h4{
		  color: #004564;
		  font-size: 16px;
		  font-weight: bold;
		  line-height: 20px;
		}
		.group a.phone {
		    background-position : 0 -270px;
		}
		.group a.enquiry {
			background-position : 0 -120px;
		} 
		.group a.map {
			background-position : 0 -30px;
		} 
		.group .location a {
			font-weight : lighter;
			font-size : 12px;
		}
		.group a.product_link {
			background-position : 0 -90px;
		} 
		.group a.photos {
			background-position : 0 -180px;
		}
		.group .line {  
			height : 25px;
			color : black;
		} 
	/*FORM FIELDS*/
		.select2-container {min-width: 85%; max-width: 90%;font-family: "Zawgyi-One"; font-size: 12px;}
		.select2-results .select2-result-label {font-size: 12px;}
		.addnew-form input[type="text"], .addnew-form .select2-container .select2-choice, .addnew-form .select2-container-multi .select2-choices, input[type="email"] {
		    border: 1px solid #999;
		    background-color: transparent;
		    *zoom: 1;
		    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFEDEDED', endColorstr='#FFFFFFFF');
		    /*line-height: 1.5em;*/
		    width: 100%;
		    height: 35px !important;
		    font-size: 15px;
		    overflow: auto;
		    background: #000;
		    font-family: "Zawgyi-One";
		}
		select{width: 50%; padding:6px 2px;}
		.select2-choice, .addnew-form .select2-container-multi .select2-choices  {
		    padding-top: 1px;
		      overflow: auto;
		}
	  	.select2-container-multi{min-height: 150px;}
	  	.select2-drop {
	    	color: #F9941D;
	    	background-color: #111;
	  	}
		.select2-container-active .select2-choice{border: 1px solid #ccc;}
		textarea{resize:vertical;}
		input[type="text"], input[type="password"], input[type="email"],textarea{background: #000; color:white;}
		input[type="text"]:focus, input[type="password"]:focus, textarea:focus, input[type="email"]:focus    {
		    background: #000;
		    color:white;
		}
		input[type="submit"], input[type="button"]{border:0;  box-shadow: none; font-family: "Ayar Wagaung";font-weight: 500;}
		.checkbox{
		    margin: 5px auto;
		    text-align: center;
		    vertical-align: middle;
		}  
	
}
/*GENERAL STYLE*/
	
	.title {
	        font-family: 'Ayar Wagaung';
	        padding: 8px;
	        margin-bottom: 0;
	        background: #f47f11; /* Old browsers */
	        background: -moz-linear-gradient(top,  #f47f11 1%, #c15b01 100%); /* FF3.6+ */
	        background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#f47f11), color-stop(100%,#c15b01)); /* Chrome,Safari4+ */
	        background: -webkit-linear-gradient(top,  #f47f11 1%,#c15b01 100%); /* Chrome10+,Safari5.1+ */
	        background: -o-linear-gradient(top,  #f47f11 1%,#c15b01 100%); /* Opera 11.10+ */
	        background: -ms-linear-gradient(top,  #f47f11 1%,#c15b01 100%); /* IE10+ */
	        background: linear-gradient(to bottom,  #f47f11 1%,#c15b01 100%); /* W3C */
	        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f47f11', endColorstr='#c15b01',GradientType=0 ); /* IE6-9 */
	        text-align: center;
	        color: #fff;
	        font-weight: 500;
	        font-size: 18px;
	    }
	.icon-logo{
        background: url(../img/titlebg.png) no-repeat;
        width: 28px;
        padding-right: 30px;
        height: 26.5px;
        margin-top: 2px;
  	}
	/*LINES*/
		.bottom-line{
		    border-bottom: 1px solid #F9941D;
		    width: 98.8%;
		    float: right;
		}
		.dottedline{margin-top:0; border:none; border-bottom:dotted #ccc;}
	  	.line{clear:both;background:#ddd; width:100%; height:1px; padding:0;margin:0; margin: 1rem 0;}
		hr{border-bottom:1px dashed #ccc; opacity:.4;margin-bottom: .4rem; border-top:none;}
	/*END*/
	.large-9{padding-left: 0;}
  #container{opacity:0; min-height: 80%; margin-top: 24px;}
  .large-3 .panel{padding: .4rem;}
  .large-2 label, .large-3 label{font-weight: normal;}
  /*.large-3 label:after{content: ':'; float: right;}*/
  .row .row{margin:0;}
  .left_padding_none, .nopadding{padding-left: 0;}
  .car_search_row{padding: 0 0 6px 0;}
  .car_search_row .large-12{background:#fff;padding:6.5px 0; border-radius:3px;}
  h1,h2,h3,h4,h5,h6, p, label, span, b{color: #fff; word-wrap: break-word;}
   span{color: #fff !important;}
  h4 {font-size: 1.118rem;padding: 9px 0;}
  h2,h3, .radiolabel{font-family: "Zawgyi-One"; border: none;}
  h2 a,h3 a{ font-size: 18px; font-weight: 500;}
  h2{
      font-size: 31.5px;
      color: #08C;
      text-decoration: none;
      margin-bottom: 9px;
      font-weight: 400;
    }
  h2:hover{
    color: #005580;
    text-decoration: underline;
  }
  a,.contact-title{color:#FF951D}
  a:hover{color:white; text-decoration: underline;}
  a:focus{color: #F9941D;}
  p{font-size: 15px;letter-spacing: .07rem;line-height: 1.7rem;}
  
  #flash_error{color: red;font-size: 1rem;padding: 0 1rem .8rem; font-family: "Ayar Wagaung"; width: 90%;}
  .require{color: #F00;position: absolute;right: 0;top: 0;}
  .star{margin-top:5px;color:red;position: absolute;margin-right: 4px;}
  .post_fix_label{position:absolute;position: absolute;right: -20px;top: 10px;color: #DA6C09;}
  .padding-10{ padding:0 10px;}
  .adv_panel{line-height:1.5rem;border: 1px solid #85250c;padding:8px; text-align:center;border-top: 0;}
  .login_panel{
   border: 1px solid #85250c;padding:8px; border-top: 0;
  }
  .related{padding-bottom:0;margin-bottom:0; padding:2px 4px 2px 4px;}
  .related span{
    width: 62px;
    height: 62px;
    display: block;
    position: absolute;
    top: 2px;
    left: 3px;
    z-index: 9999;
    background: url(../img/top_s.png) no-repeat;
  }
  .label, .badge {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    padding: 2px 14px;
    font-size: 11.844px;
    font-weight: bold;
    line-height: 14px;
    color: #ffffff;
    white-space: nowrap;
    vertical-align: baseline;
    line-height: 1.4rem;
  }
  .label-info, .badge-info {
    margin-top: 0;
    padding: 2px;
    background: #F9941D;
    width: 100%;
  }
  [class^="icons-"], [class*=" icons-"] {
      display: inline-block;
      width: 14px;
      height: 14px;
      margin-top: 1px;
      line-height: 14px;
      vertical-align: text-top;
      background-image: url('../img/glyphicons-halflings.png');
      background-position: 14px 14px;
      background-repeat: no-repeat;
  }
  .nav {
      margin: 5px;
      margin-left: 0px;
      list-style: none outside none;
  }
  .nav > li > a:hover, .nav > li > a:focus {
      text-decoration: none;
  }
  .footer{
    margin-bottom: 2px;
    min-height: 70px;
  }
  .info{font-size: 14px; color:#000; padding:5px;}
  .large-2 .radiolabel{margin-left: 4px; }
	
  .description{
      font-size: 15px;
      line-height: 20px;
      height:7rem; over-flow:hidden;
  }
  .address{
    line-height: 20px;
    font-size: 15px;
    font-family: Georgia,"Times New Roman",Times,serif;
  }
  #article{
    padding:0 5px;
  }
  #cat{
    padding-left: 10px;
  }
  #time{
    padding-left: 10px;
  }
  .login label:after{content: '';}
  label{line-height: 1.4rem;padding-right: 11px; color: #fff; font-family:"Ayar Wagaung"; font-size: 18px;}
  .editdropdown{
    border: 1px solid #CCC;
    border-radius: 5px;
    color: #fff;
    background: #02405D;
    padding: 8px 6px;
    transition: background-color 300ms ease-out 0s;
    line-height: 10px;
    padding:4px 6px 4px 0; font-size:12px; width:auto; min-width:90px;
  }
/*.large-9 input[type="text"], .large-9 .select2-container .select2-choice, .large-9 .select2-container-multi .select2-choices, input[type="email"]{
	width: 50%;
}*/
/*.large-9 .select2-drop{width: 50%;}*/
textarea{min-height: 80px;margin-left: 1rem;}
.file-upload, .large-9 label{margin-left: 1rem;}
.large-3 .select2-container .select2-choice span {color: #444 !important;}
.half{position: relative; width: 4.1666%;}
.related img{max-height: 115px;}
.button_list{color:white;}

div.switch.round span:last-child{background: #F9941D;}
div.switch span:last-child{
	box-shadow: none;
}
.addnew-form .gallery-input {
    background: transparent;
  }
  div.switch label {
    line-height: 2.1rem;
  }
  
  div.switch.round label {
    left: 2%;
    color: #DA6C09;
    font-weight: normal;
  }
  div.switch input:last-of-type:checked + label, div.switch input:last-of-type:checked + span + label {
      left: auto;
      right: -27%;
      margin-top: -33px;
  }
  div.switch {background-color: transparent;}
  .text-orange{color:#F9941D;}
  /*.image-frame{max-height: 17rem; overflow: hidden;}
  .image-frame img{
		    top:-100%; left:0; right: 0; bottom:-100%;width: 100%;
		    margin: auto;}*/


    .newsimage{height: 250px; overflow: hidden;position: relative;}
    .newsdtimage{height: 450px;overflow: hidden;}
    .placeholder{ background: url(../images/AutoM.png) no-repeat center; width: 100%;height: 250px; opacity: .5;}
    .newsimage img{position: absolute; max-height: 250px;max-width: 100%;left:0;right:0;top:-100%; bottom:-100%;margin: auto; background: url(../images/placeholder.png) no-repeat center;}
    .newsdtimage img{position: absolute; max-height: 450px;max-width: 100%;left:0;right:0;top:-100%; bottom:-100%;margin: auto; background: url(../images/placeholder.png) no-repeat center;}